{
  "prefix": "!",
  "timezone": "Europe/Warsaw",
  "presences": [
    {
      "type": "WATCHING",
      "name": "Lekcje 🎓",
      "time": 10
    }
  ],
  "settings": {
    "reminderCID": "",
    "admins": [
      ""
    ],
    "defaultPing": "@here"
  },
  "days": [
    "Niedziela",
    "Poniedziałek",
    "Wtorek",
    "Środa",
    "Czwartek",
    "Piątek",
    "Sobota"
  ],
  "embed": {
    "color": "0xffffff",
    "footer": "Lekcja Bot | TypeScript"
  },
  "reminder": {
    "title": "Przypomnienie",
    "day": "Dzień:"
  },
  "groups": [
    {
      "roleID": "",
      "keywords": [
        ""
      ]
    }
  } 
  "custom": [
    {
      "subject": "Test",
      "organizerName": "Test",
      "day": 3,
      "startTime": {
        "hour": 12,
        "minutes": 0
      },
      "endTime": {
        "hour": 13,
        "minutes": 0
      },
      "url": ""
    }
  ]
}