{
  "prefix": "!",
  "timezone": "Europe/Warsaw",
  "presences": [
    {
      "type": "WATCHING",
      "name": "Lekcje 🎓",
      "time": 10
    }
  ],
  "settings": {
    "reminder_cid": "",
    "admins": [
      ""
    ]
  },
  "days": [
    "Poniedziałek",
    "Wtorek",
    "Środa",
    "Czwartek",
    "Piątek",
    "Sobota",
    "Niedziela"
  ],
  "embed": {
    "color": "0xffffff",
    "footer": "Lekcja Bot | TypeScript"
  }
}